@import '../../../../../styleGuide/variable.scss';

.gamefieldDisplayNumbers {
  padding: 10px;
  margin: 0;
  justify-content: center;
  color: #5bc2dc;

  p {
    font-size: 4rem;
    margin: 0;
    padding: 10px 0;
    line-height: 130%;
  }
}

.gameCounter {
  font-size: 3vh;
  padding-bottom: 0;
  padding-top: 0;
  color: $orangeColor;
  display: flex;
  justify-content: center;
}

.blockAnswer {
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;

  form {
    display: flex;
    align-items: center;
  }

  input {
    width: 200px;
    height: 5vh;
    padding: 20px;
    font-size: 3vh;
    color: #a6a2a3;
    border: $blockBorderSize solid $orangeColor;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  button {
    width: 73px;
    padding: 2px;
    background: none;
    border: $blockBorderSize solid $clrBackground;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  button:hover {
    opacity: 0.7;
  }

  button:active,
  button:focus {
    outline: none;
  }

  input:active,
  input:focus {
    outline: none;
  }
}

.coins {
  margin-top: 20px;
  padding: 5px 20px 15px 20px;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 4vh;
    margin-left: 11px;
  }

  span {
    color: $clrBackground;
    font-size: 3vh;
  }
}

.indacateResult {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;

  .owlBlock {
    background-color: white;
    width: 100%;
    height: 80%;

    p {
      color: #7a2e5d;
      font-size: 3vh;
    }

    img {
      height: 50%;
      margin: 2px;
      // max-width: 200px;
    }
  }
}

.hideBlock {
  display: none;
}