@import '../../../styleGuide/variable.scss';

.wrapper {
  .wrapper__a {
    position: relative;
    color: $textColor;
    text-decoration: none;

    div {
      position: absolute;
      top: 67%;
      left: 105%;
      width: 0;
      height: 0;
      border-style: solid;
    }
    .wrapper__divClose {
      border-width: 0.4em 0.4em 0.4em 0.8em;
      border-color: transparent transparent transparent $textColor;
    }

    .wrapper__divOpen {
      border-width: 0.8em 0.4em 0.4em 0.4em;
      border-color: $textColor transparent transparent transparent;
    }
  }
}

.additionalSettings {
  background-color: $textColor;
  border-radius: 15%;
  color: $orangeColor;
  font-size: 1rem;
  padding: 2%;
  z-index: 2;
  top: 50%;
  left: 55%;
}
