@import '../../../../styleGuide/variable.scss';

@mixin leftRightBorder {
    padding: 20px;
    border-left: $blockBorderSize solid $clrBackground;
    border-right: $blockBorderSize solid $clrBackground;
    justify-content: center;
}

.onePlayerField {
    max-width: 660px;
    width: 60vw;
    min-width: 420px;
    // padding: 0;
    // max-height: 735px;
    margin: 1vh;
}

.gamefieldDisplayNumbers {
    padding: 0 10px;
    margin: 0;
    border-left: $blockBorderSize solid $clrBackground;
    border-right: $blockBorderSize solid $clrBackground;
    justify-content: center;
    color: #5BC2DC;

    p {
        font-size: 150px;
        margin: 0;
        padding: 0;
        line-height: 130%;
    }
}

.gameCounter {
    @include leftRightBorder;
    font-size: 3vh;
    padding-bottom: 0;
    padding-top: 0;
}

.blockAnswer {
    padding: 10px;
    border-left: $blockBorderSize solid $clrBackground;
    border-right: $blockBorderSize solid $clrBackground;
    justify-content: center;
    margin: 0;

    input {
        width: 200px;
        height: 5vh;
        padding: 20px;
        font-size: 3vh;
        color: #A6A2A3;
        border: $blockBorderSize solid $orangeColor;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    button {
        width: 73px;
        border: none;
        background: none;
        border: $blockBorderSize solid $clrBackground;
        border-left: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    button:hover {
        opacity: .7;
    }

    button:active,
    button:focus {
        outline: none;
    }

    input:active,
    input:focus {
        outline: none;
    }
}

.coins {
    padding: 5px 20px 15px 20px;
    border-left: $blockBorderSize solid $clrBackground;
    border-right: $blockBorderSize solid $clrBackground;
    border-bottom: $blockBorderSize solid $clrBackground;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: flex-end;
    align-items: center;

    img {
        width: 4vh;
        margin-left: 11px;
    }

    span {
        color: $clrBackground;
        font-size: 3vh;
    }
}

@media (max-width: 1441px) {
    .coins {
        padding: 20px;
        padding-top: 0;
    }
}