// $theme-colors: (
//         "info": tomato,
//         "danger": teal
// );

@import '~bootstrap/scss/bootstrap';

.row {
  margin: 0;
}
.modal-content {
  border: #9DBD2C 4px solid;
  border-radius: 15px;
}
