@import '../../styleGuide/variable.scss';

.container {
  height: 110px;
  background-color: $clrBackground;
  padding: 0 $paddingMain;
  color: $textColor;
  box-shadow:  0px 6px 8px -3px rgba(20,19,20,0.25);
  position: relative;
  flex: 0 0 auto;

  .row {
    height: 100%;

    .logo {
      background-color: white;
      border: $orangeColor solid 4px;
      border-radius: 25px;

      img {
        height: 75px;
        padding: 10px;
      }
    }

    a {
      text-decoration: none;
      color: $textColor;
      @include adaptive-font(25, 18);
      padding-left: $paddingMain;

      &:hover {
        opacity: .7;
      }
    }

    h1 {
      padding-left: $paddingMain;
    }
  }
}

.dumbbells {
  margin-right: 20px;
}