@import './styleGuide/custom.scss';
@import './styleGuide/variable.scss';

body {
  max-width: 1920px;
  max-height: 1080px;
  min-height: 100vh;
  height: 100vh;
  margin: auto;
  font-family: $fontCyrillicHover;
}
