@import "./styleGuide/custom.scss";
@import "./styleGuide/variable.scss";

body {
    max-width: 1920px;
    max-height: 1080px;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-family: $fontCyrillicHover;
}

